body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F5F5DC; 
	width:80%;
	min-width: 720px;
	margin: 0 auto;
}
div {
	box-shadow: 2px 5px;
	border: 2px solid black;
	border-radius: 25px;
	background-color: #B22222;
	padding:1em;
	margin:3px;
}
h1 {
	background-color: #143D84;
	padding: .2em;
	border-width: 1px;
	border-style: dotted;
	border-color: black;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Bradley Hand, cursive;
	font-size: 100px;
	text-align: center;
	color: white;		
}
h2 {
	text-align:center;
}
h3 {
	font-family: Bradley Hand, cursive;
	font-size: 20px;
}
p {
	margin:25px;
}
div#skipnav {
	position: relative;
	top: 5px;
	left: 5px;
	right: 12.5%;
	color: black;
	font-weight: bold;
	background: white;
	border: 2px;
	padding: .2em;
	text-align: center;
}
div.info {
	color: black;
	text-align: left;
	font-size: 1.2em;
	fort-family: serif;
	width: 40%;
}
/*navigation menu styles*/
nav{
	padding: 0.25em;
	text-decoration: underline;
	background-color: #DB58BO;/* green*/
	color: #F58244;/*orange*/
	border: 2px solid black;
	border-top-left-radius: 1em 1em;/*rounded corner!*/
	border-top-right-radius: 1em 1em;/*another rounded corner!*/
	float: center;
	position: fixed;
	right: 2px;
	left: 2px;
	top: 3px;
}
nav a:hover, a:focus {
	color: black;
	background-color: red;
	font-weight: bold;
}
