body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F5F5DC; 
	width:80%;
	min-width: 720px;
	margin: 0 auto;
}
div {
	box-shadow: 2px 5px;
	border: 2px solid black;
	border-radius: 25px;
	background-color: #ffff66;
	padding:1em;
	margin:3px;
}
h1 {
	background-color: #143D84;
	padding: .2em;
	border-width: 1px;
	border-style: dotted;
	border-color: black;
	margin-left: 10%;
	margin-right: 10%;
	font-family: fenwick;
	font-size: 100px;
	text-align: center;
	color: white;		
}
h3 {
	background-color:#fa8072;
	padding: .2em;
	text-align: center;
}
h2 {
	background-color:#ccccff;
	padding: .2em;
	border-style: dotted;
	border-width: 1px;
	border-color: black;
	margin-left: 10%;
	margin-right: 10%
	font-size: 20px;
	text-align: center;
	margin:25px;
}
div#skipnav {
	position: relative;
	top: 5px;
	left: 5px;
	right: 12.5%;
	color: black;
	font-weight: bold;
	background: fc660f;
	border: 2px;
	padding: .2em;
	text-align: center;
}
div.info {
	color: black;
	text-align: left;
	font-size: 1.2em;
	fort-family: serif;
	width: 40%;
}
/*navigation menu styles*/
nav{
	padding: 0.25em;
	text-decoration: underline;
	background-color: #DB58BO;/* green*/
	color: #fc660f;/*orange*/
	border: 2px solid black;
	border-top-left-radius: 1em 1em;/*rounded corner!*/
	border-top-right-radius: 1em 1em;/*another rounded corner!*/
	float: center;
	position: fixed;
	right: 2px;
	left: 2px;
	top: 3px;
	font-size: 25px
}
nav a:hover, a:focus {
	color: black;
	background-color: red;
	font-weight: bold;
}
ul {
	color: black;
	margin-right: 10%;	
	font-family: Bradley Hand, cursive;
	font-size: 30px;
	text-align:center;
}
li {
	text-align: center;
	font-size: 25px;
	font-family: bradley hand;
	margin:0px auto;
	text-alignment: center;
}
table {
	padding: 1.5em;
	border-width: 5px;
	border-style: solid;
	margin: 0px auto;
	font-family: bingo;
	font-size: 20px;
	text-align: center;
}
th {
	padding: 1em;
	border-width: 2px;
	border-style: dotted;
	border-color: black;
	margin:0px auto;
	font-size:30px;
	background-color:  #8fbc8f;
}
td {
	padding: 1em;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin: 5px;
	background-color: #b4daff;
}
p {	font-size: 30px;
	text-alignment: center;
	font-color: black;
	backgroundcolor: #ffff66;
}
button {  
	font-size: 1.1em; 
	background-color: #EBF5FF; 
	color: #4312A
	border: 2px solid black; 
	box-shadow: 4px 4px 4px #999999; 
} 


